<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log_in.ejs</title>
</head>
<script>
    login(id) {
        var logid = document.getElementById("id");
        var logpw = document.getElementById("pw");
        
        if()

    };
</script>
<body>
    <form action="/login"  target="_blank" method="get" id="loginform">
        <fieldset style="width: 300px;">
            <legend>login</legend>
            아이디 : <input type="text" name="id"><br>
            비밀번호 : <input type="password" name="pw"><br>
        </fieldset>
        <button type="button" onclick="login()"></button>
    </form>
    
</body>
</html>