<html>
    <head>
        <title>Admit.ejs</title>
    </head>
    <script>
        function admit(id) {
            var html = document.getElementById("inform");
            
        }
    </script>
    <body>
        <form action="/register" target="_blank" method="get" id="inform">
            <fieldset style="width:300px;">
                <legend> 개인 정보 </legend>
                아이디 : <input type="text" name="id"><br>
                비밀번호 : <input type="password" name="pw"><br>
                이름 : <input type="text" name="name"><br>
                나이 : <input type="text" name="age"><br>
            </fieldset>
            <button type="button" onclick="admit();">회원가입</button>
        </form>
    </body>
</html>